<app-small-heading title="Nouveau contact" backLink="/annuaire/contactlist"></app-small-heading>
<div class="contact-add">
  <div class="title-container">
    <h1 class="h2-title">Créer un nouveau contact</h1>
    <div class="subtitle">
      Tous les contacts ajoutés dans ENKI sont disponibles dans l’annuaire partagé.
    </div>
  </div>
  <form action="" class="contactAddForm" [formGroup]="contactGroup" (ngSubmit)="onSubmit()">
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="lastName" formControlName="lastName" required>
      <label for="lastName" class="enkiform__label">Nom</label>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="firstName" formControlName="firstName" required>
      <label for="firstName" class="enkiform__label">Prénom</label>
    </div>
    <div class="enkiform__group">
      <select class="enkiform__input" id="group" formControlName="group" required>
        <option *ngFor="let userType of userTypes" value="{{userType}}">{{userType | titlecase}}</option>
      </select>
      <label for="group" class="enkiform__label">Type d'établissement</label>
      <svg class="icon-chevron icon"><use xlink:href="#icon-chevron"></use></svg>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="etablissement" formControlName="etablissement" required (focus)="goToSearchEtablissement()" [attr.disabled]="contactGroup.value.group == '' ? true : null">
      <label for="etablissement" class="enkiform__label">Établissement</label>
      <svg class="icon-search icon"><use xlink:href="#icon-search"></use></svg>
    </div>
    <div class="enkiform__group">
      <select class="enkiform__input" id="position" formControlName="position" required [attr.disabled]="contactGroup.value.group == '' ? true : null">
        <option *ngFor="let userPosition of userPositions" [value]="userPosition.uuid">{{userPosition.label}}</option>
      </select>
      <label for="position" class="enkiform__label">Fonction</label>
      <svg class="icon-chevron icon"><use xlink:href="#icon-chevron"></use></svg>
    </div>


    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="phone" formControlName="phone" required>
      <label for="phone" class="enkiform__label">Téléphone</label>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="email" formControlName="email" required>
      <label for="email" class="enkiform__label">Email</label>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="address" formControlName="address" required>
      <label for="address" class="enkiform__label">Adresse</label>
    </div>
    <div class="enkiSpecialForm__group">
      <input type="submit" class="btn" value="Enregistrer" id="test--add-contact">
    </div>
  </form>
</div>
<router-outlet></router-outlet>
