<app-small-heading title="Nouveau message" backLink="../liste"></app-small-heading>
<div class="addMessage">
  <form action="" class="addMessageForm" [formGroup]="messageGroup" (ngSubmit)="onSubmit()">
    <div class="enkiSpecialform__group">
      <textarea appFocusFormInput formControlName="title" placeholder="Tapez ici votre message" id="" cols="30" rows="3"></textarea>
      <!-- <input type="text" appFocusFormInput class="addMessageForm--titleInput" formControlName="title" placeholder="Sans titre" required> -->
    </div>
    <div class="enkiSpecialform__group labelGroup">
      <div class="labelGroup--labelList" *ngIf="labelsService.selectedLabels.length > 0">
        <div class="labelElement labelElement badge badge__inverted" *ngFor="let label of labelsService.selectedLabels">
          {{label.title}}
        </div>
      </div>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length === 0">
        <svg class="icon-add-circle icon"><use xlink:href="#icon-add-circle"></use></svg>
        Ajouter un label
      </a>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length > 0">
        <svg class="icon-pen icon"><use xlink:href="#icon-pen"></use></svg>
        Modifier les labels
      </a>
    </div>
    <div class="enkiSpecialform__group">
      <textarea formControlName="content" class="addMessageForm--descriptionTextarea" cols="30" rows="3" placeholder="Informations complémentaires"></textarea>
    </div>
    <div class="enkiSpecialform__group addMedia">
      <div class="previewImage">
        <div class="previewImage--element" *ngFor="let media of listOfMedias">
          <!-- {{media}} -->
          <img [src]="media.url" alt="">
          <svg class="icon-cancel icon" (click)="removeMedia(media.uuid)"><use xlink:href="#icon-cancel"></use></svg>
        </div>
      </div>
      <label for="mediaFile" class="mediaFile">
        <svg class="icon-dossier icon"><use xlink:href="#icon-dossier"></use></svg>
        Ajouter des pièces jointes
      </label>
      <input id="mediaFile" type="file" formControlName="files" (change)="uploadFile($event)">
    </div>
    <div class="enkiSpecialForm__group">
      <input type="button" class="btn test--publish-message" value="Publier le message" (click)="openConfirmationModal()">
    </div>
    <app-modal class="confirmation" title="Confirmation" description="Une fois publiée, votre main courante sera consultable par les autres acteurs." #confirmation>
      <p class="confirmation--quote">
        <svg class="icon-eye-hide icon"><use xlink:href="#icon-eye-hide"></use></svg>
        Pour masquer votre publication, cochez la case suivante :
      </p>
      <div class="enkiform__group">
        <input type="checkbox" class="enkiform__checkbox" id="privatePublish" required>
        <label for="privatePublish" class="enkiform__label">Publication privée</label>
      </div>
      <div class="enkiSpecialForm__group">
        <input type="submit" class="btn -green" value="Confirmer la publication">
      </div>
    </app-modal>
    <app-modal class="cancel" title="Confirmation" description="Êtes-vous sûr de vouloir quitter cette page sans publier ?" #cancel>
      <p class="confirmation--quote">
        Votre message ne sera pas sauvegardé.
      </p>
      <div class="btn-group -right">
        <button class="btn -transparent -auto" (click)="closeCancelModal()">Annuler</button>
        <button class="btn -red -auto" (click)="confirmButton.next(true)">Quitter</button>
      </div>
    </app-modal>
  </form>
  <router-outlet></router-outlet>

</div>
