<app-small-heading title="Nouveau message" (closeEvent)="close()"></app-small-heading>
<div class="addMessage">
  <form action="" #f="ngForm" class="addMessageForm" [formGroup]="messageGroup" (ngSubmit)="onSubmit(messageType.RESTRICTED)">
    <div>
      <textarea appFocusFormInput formControlName="title" placeholder="Tapez ici votre message" id="test--messageContent" cols="30" rows="3"></textarea>
    </div>
    <div class="counter" [class.-error]="title.invalid && title.errors.maxlength">{{textareaLength}}/{{charactersTitleLimit}} signes</div>
    <div class="labelGroup">
      <div class="labelGroup--labelList" *ngIf="labelsService.selectedLabels.length > 0">
        <div class="labelGroup--labelElement badge badge__inverted" *ngFor="let label of labelsService.selectedLabels">
          {{label.title}}
        </div>
      </div>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length === 0">
        <svg class="icon-add-circle icon"><use xlink:href="#icon-add-circle"></use></svg>
        Ajouter un label
      </a>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length > 0">
        <svg class="icon-pen icon"><use xlink:href="#icon-pen"></use></svg>
        Modifier les labels
      </a>
    </div>
    <div>
      <textarea formControlName="content" class="addMessageForm--descriptionTextarea" cols="30" rows="3" placeholder="Informations complémentaires"></textarea>
    </div>
    <div class="addMedia">
      <div class="previewImage">
        <div class="previewImage--element" *ngFor="let media of listOfMedias">
          <!-- {{media}} -->
          <img [src]="media.url" alt="">
          <svg class="icon-cancel icon" (click)="removeMedia(media.uuid)"><use xlink:href="#icon-cancel"></use></svg>
        </div>
      </div>
      <label for="mediaFile" class="mediaFile">
        <svg class="icon-dossier icon"><use xlink:href="#icon-dossier"></use></svg>
        Ajouter des pièces jointes
      </label>
      <input id="mediaFile" type="file" formControlName="files" (change)="uploadFile($event)">
    </div>
    <div>
      <input type="button" class="btn test--publish-message" value="Publier le message" (click)="openConfirmationModal()" [disabled]="messageGroup.invalid">
    </div>
    <app-modal class="confirmation" title="Confirmation" description="" #confirmation>
      <p class="confirmation--quote">
        Une fois publié, votre message apparaitra dans la main courante.
      </p>
      <p class="confirmation--note">
        <svg class="icon-lock"><use xlink:href="#icon-lock"></use></svg>
        Un message privé est visible uniquement par votre établissement.
      </p>
      <div class="enkiform__group btn-group -oneline">
        <button class="btn -auto" type="button" id="private" value="private" (click)="onSubmit(messageType.RESTRICTED)">
          <svg class="icon-lock"><use xlink:href="#icon-lock"></use></svg>
          Privé
        </button>
        <button class="btn -auto" type="button" id="public" value="public" (click)="onSubmit(messageType.PUBLIC)">
          <svg class="icon-unlock"><use xlink:href="#icon-unlock"></use></svg>
          Public
        </button>
      </div>
    </app-modal>
    <app-modal class="cancel" title="Confirmation" description="Êtes-vous sûr de vouloir quitter cette page sans publier ?" #cancel>
      <p class="confirmation--quote">
        Votre message ne sera pas sauvegardé.
      </p>
      <div class="btn-group -right">
        <button class="btn -transparent -auto" title="Annuler le message" (click)="closeCancelModal()">Annuler</button>
        <button class="btn -red -auto" (click)="confirmButton.next(true)">Quitter</button>
      </div>
    </app-modal>
  </form>
  <router-outlet></router-outlet>

</div>
