@import "../../../../../design-system/styles/variables";
@import "../../../../../design-system/styles/mixins";

:host {
  position: absolute;
  top: 0;
  background: $white;
  width: 100%;
  padding-top: 72px;
}
.addMessage {
  padding: 0 16px;
  margin-bottom: 52px;
}
.addMessageForm {
  padding: 16px 0;
  &--titleInput {
    border: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    &::placeholder {
      color: $darkerGrey;
    }
  }
}
.addMedia {
  padding: 16px 0;
  input[type="file"] {
    display: none;
  }
  .mediaFile {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: 8px;
      }
  }
}
.confirmation {
  &--quote {
    color: $darkestGrey;
    font-size: rem-calc(16);
    line-height: 23px;
    font-family: $secondaryFont;
    margin-bottom: 16px;
    letter-spacing: 0.5px;
    svg {
      position: relative;
      top: 5px;
    }
  }
}

.labelGroup {
  padding: 12px 0 16px;
  position: relative;
  &:after {
    @include heading-line;
  }
  &--labelList {
    padding: 8px 0;
  }
  &--labelElement {
    margin-right: 8px;
  }
  &--labelLink {
    display: flex;
    color: $darkGrey;
    text-decoration: none;
    font-family: $secondaryFont;
    font-size: 17px;
    padding: 8px 0;
    .icon {
      padding-right: 8px;
      font-size: 18px;
      fill: $darkerGrey;
    }
  }
}
textarea {
  border: 0;
  color: $darkestPrimary;
  width: 100%;
  resize: none;
  padding-top: 24px;
  &::placeholder {
    color: $darkerGrey;
  }
}