<div class="small-heading">
  <div class="small-heading--title">
    Nouveau message
  </div>
  <!-- TODO : rendre générique l'id de retour de création du message -->
  <div class="small-heading--close" routerLink="../liste">
    Fermer
    <svg class="icon-close title-icon"><use xlink:href="#icon-close"></use></svg>
  </div>
</div>
<div class="addMessage">
  <form action="" class="addMessageForm" [formGroup]="messageGroup" (ngSubmit)="onSubmit()">
    <div class="enkiSpecialform__group">
      <input type="text" class="addMessageForm--titleInput" formControlName="title" placeholder="Sans titre" required>
    </div>
    <div class="enkiSpecialform__group labelGroup">
      <div class="labelGroup--labelList" *ngIf="labelsService.selectedLabels.length > 0">
        <div class="labelElement labelElement badge badge__inverted" *ngFor="let label of labelsService.selectedLabels">
          {{label.title}}
        </div>
      </div>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length === 0">
        <svg class="icon-add-circle icon"><use xlink:href="#icon-add-circle"></use></svg>
        Ajouter un label
      </a>
      <a href="" class="labelGroup--labelLink" routerLink="addlabel" *ngIf="labelsService.selectedLabels.length > 0">
        <svg class="icon-pen icon"><use xlink:href="#icon-pen"></use></svg>
        Modifier les labels
      </a>
    </div>
    <div class="enkiSpecialform__group">
      <textarea formControlName="content" id="" cols="30" rows="10" placeholder="Appuyer ici pour ajouter une description"></textarea>
    </div>
    <div class="enkiSpecialform__group addMedia">
      <label for="mediaFile" class="mediaFile">
        <svg class="icon-dossier icon"><use xlink:href="#icon-dossier"></use></svg>
        Ajouter des médias
      </label>
      <input id="mediaFile" type="file" formControlName="files" (change)="uploadFile($event)">
      <div *ngFor="let media of listOfMedias">
        {{media}}
        <img [src]="url" alt="">
      </div>
    </div>
    <div class="enkiSpecialForm__group">
      <input type="submit" class="btn" value="Publier le message">
    </div>

  </form>

  <router-outlet></router-outlet>

</div>
