html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.login-background {
  flex: 1 1 60%;
  background-image: url('../img/login-background.jpg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-wrapper {
  display: flex;
  flex: 0 1 40%;
  min-width: 992px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #F7F7F7;
  color: #666;
}

.login-form {
  flex: 0 1 50%;
  padding: 60px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  background-color: #FFFFFF;
}

.login-form h2 {
  text-align: center;
}

.login-form ul {
  list-style-type: none;
}

.login-form label {
  cursor: pointer;
  color: black;
}

.form-group {
  width: 100%;
  text-align: left;
  padding-top: 60px;
}

label.form-control {
  display: block;
  font-size: 23px;
}

/*fields*/
input[type=text], input[type=password] {
  box-sizing: border-box;
  width: 100%;
  margin-top: .7em;
  margin-bottom: .1em;
  border-width: 0 0 2px 0;
  padding: 0 .5em .5em 0;
  border-color: #999;
  font-size: 32px;
  caret-color: #2F61D5;
}

input[type=text]:focus, input[type=password]:focus {
  border-color: #2F61D5;
}

input[type=text]::placeholder, input[type=password]::placeholder {
  color: #999;
}

/*button*/
input[type=submit] {
  padding: 1em 3em;
  margin-top: 1.5em;
  border: none;
  border-radius: 4px;
  background-color: #2F61D5;
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

input[type=submit]:active {
  background-color: #f39c12;
}

.login-reset-password a {
  display: inline-block;
  width: 100%;
  font-size: 23px;
  text-align: right;
  text-decoration: none;
  color: #2F61D5;
}

.alert {
  width: 100%;
  margin-top: 30px;
  text-align: left;
}

.alert.alert-error {
  color: #f00;
  font-weight: 600;
}



#kc-form-options div {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
}

#kc-form-options div label {
  font-size: 20px;
}

#kc-feedback {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#kc-feedback-wrapper {
  padding: 1em;
}

.feedback-success {
  background-color: rgba(155, 155, 255, 0.1);
}

.feedback-warning {
  background-color: rgba(255, 175, 0, 0.1);
}

.feedback-error {
  background-color: rgba(255, 0, 0, 0.1);
}
