<div class="searchEtablissement fullscreen-form">
  <div class="fullscreen-form--heading">
    <a class="fullscreen-form--cancel" routerLink="..">
      <svg class="icon-arrow icon"><use xlink:href="#icon-arrow"></use></svg>
    </a>
    <input type="text" class="fullscreen-form--searchInput" [formControl]="etablissementSearch" placeholder="Département, commune ou code postal">
  </div>
  <div class="searchResults--title">
    Résultats de votre recherche
  </div>
  <div class="searchResults--noResults" *ngIf="etablissementResults && etablissementResults.length === 0">
    Pas de résultats... ¯\_(ツ)_/¯
  </div>
  <div *ngFor="let etablissementResult of etablissementResults">
    <div class="searchList--element">
      <a class="searchList--link" (click)="selectEtablissement(etablissementResult)" id="locationid-{{etablissementResult.location.external_id}}">{{etablissementResult.label}} ({{etablissementResult.location.external_id}})</a>
    </div>
  </div>
</div>