<div class="evenement">
  <div class="evenement--heading">
    <div class="evenement--title">
      {{evenement.title}}
    </div>
    <div class="evenement--description">
      {{evenement.description}}
    </div>
  </div>
<!-- </div>
<div class="map">
  <div class="map-container">
    <div class="map-frame">
      <div id="mapid"></div>
    </div>
  </div>
</div>
<div class="evenement" *ngIf="fetchedEvenement"> -->
  <div class="evenement--body">
    <div class="signalements">
      <div class="signalements--map">
        
      </div>
      <div class="signalements--list">
        <h2 class="title-with-icon">
          <svg class="icon-signalements icon"><use xlink:href="#icon-signalements"></use></svg>
          (0) Signalements
        </h2>
      </div>
    </div>
  </div>
</div>