@import "../../../../design-system/styles/variables";

.evenement {
  .title-with-icon {
    padding: 16px 16px 0;
  }
  &--title {
    color: $white;
  }
  &--dateTime {
    display: flex;
    font-family: $secondaryFont;
    .icon-arrow {
      transform: rotate(180deg);
      margin: 0 4px;
    }
  }
}