
<div class="contact-list">
  <div class="contact-list--search enkiform__group">
    <input class="enkiform__input" routerLink="/annuaire/searchcontact" placeholder="Rechercher dans l'annuaire partagé"/>
    <svg class="icon-search icon"><use xlink:href="#icon-search"></use></svg>
  </div>
  <h1 class="h1-title">Contacts favoris</h1>
  <div *ngFor="let contact of contacts; let i = index;">
    <!-- if (contacts[i - 1].name[0] !== contact.name[0]) {

    } -->
    <div *ngIf="compareIfFirstLetterIsDifferent(contacts[i - 1], contact)">
      {{contact.name[0].toUpperCase()}}
    </div>
    <a routerLink="/annuaire/contactdetail/{{contact.uuid}}">{{contact.name}}</a>
  </div>
  
</div>

<div class="action--add" routerLink="/contactadd">
  <svg class="icon icon-add"><use xlink:href="#icon-add"></use></svg>
</div>