flask==1.1.2
flask-restful
sqlalchemy
python-dotenv
psycopg2-binary
dataclasses-json
apispec[yaml]
apispec-webframeworks
flask-cors


# dev/test
sqlalchemy-stubs
pytest
pytest-watch
faker

# data
pandas