@import "../../../../../design-system/styles/variables";
@import "../../../../../design-system/styles/mixins";

:host {
  @include mediaquery(desktop) {
    display: grid;
    grid-template-columns: 1fr 400px;
  }
}
.action--export {
  position: absolute;
  top: 0;
  right: 16px;
}
.mc {
  @include mediaquery(desktop) {
    height: calc(100vh - #{$headerSize * 2});
    overflow-y: scroll;
  }
  .filter-pastille {
    display: none;
    background: $red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    right: 14px;
    top: 14px;
    &.-active {
      display: block;
    }
  }

  &--empty {
    padding: 0 16px;
    text-align: center;
    .btn {
      margin-top: 24px;
    }
  }
  .list {
    padding-bottom: 75px;
    background: $white;
    &--element {
      border: 0;
      cursor: pointer;
      &.-right {
        .contentInfos {
          background-color: $blueGrey;
          border-radius: 8px 0px 8px 8px;
          border: 0;
        }
      }
    }
  }
  .contentInfos {
    padding: 12px;
    border-radius: 0px 8px 8px 8px;
    border: 1px solid $lightGrey;
  }
}