@import "../../../../../design-system/styles/variables";
@import "../../../../../design-system/styles/mixins";

.action--export {
  position: absolute;
  top: 0;
  right: 16px;
}
.mc {
  &.prototype .action {
    margin-top: -80px;
    margin-left: 306px;
    &--filter {
      margin-left: 240px;
    }
  }
  .filter-pastille {
    display: none;
    background: $red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    right: 14px;
    top: 14px;
    &.-active {
      display: block;
    }
  }

  &--empty {
    padding: 0 16px;
    text-align: center;
    .btn {
      margin-top: 24px;
    }
  }
  .list {
    padding-bottom: 120px;
    background: $white;
    &--element {
      border: 0;
      cursor: pointer;
      &.-right {
        .contentInfos {
          background-color: $blueGrey;
          border-radius: 8px 0px 8px 8px;
          border: 0;
        }
      }
    }
  }
  .contentInfos {
    padding: 12px;
    border-radius: 0px 8px 8px 8px;
    border: 1px solid $lightGrey;
  }
}