@import "../../../../../design-system/styles/variables";

.action--export {
  position: absolute;
  top: 0;
  right: 16px;
}
.mc {
  &.prototype .action {
    margin-top: -70px;
    margin-left: 306px;
    &--filter {
      margin-left: 240px;
    }
  }
  // margin-bottom: 104px;
  &--content {
    height: 340px;
  }

  &--empty {
    padding: 0 16px;
    text-align: center;
    .btn {
      margin-top: 24px;
    }
  }
  .list {
    padding-bottom: 120px;
    &--element {
      border: 0;
      cursor: pointer;
      &.-right {
        .contentInfos {
          background-color: $blueGrey;
          border-radius: 8px 0px 8px 8px;
          border: 0;
        }
      }
    }
  }
  .contentInfos {
    padding: 12px;
    border-radius: 0px 8px 8px 8px;
    border: 1px solid $lightGrey;
  }
}