@import "../../../../../design-system/styles/variables";


.addLabel {
  &--selectedLabels {
    display: flex;
    align-items: center;
  }
}
.selectedLabels {
  &--item {
    display: flex;
    align-items: center;
    svg {
      font-size: 12px;
      fill: $primary;
      margin: 0 4px 0 8px;
    }
  }
}
.searchList {
  &--element {
    svg {
      fill: $lightGreen;
    }
  }
}