<div class="addLabel fullscreen-form">
  <div class="fullscreen-form--heading">
    <a class="fullscreen-form--cancel" (click)="goBack()">
      <svg class="icon-arrow icon"><use xlink:href="#icon-arrow"></use></svg>
    </a>
    <div class="addLabel--searchAndSelected">
      <div class="addLabel--selectedLabels" *ngIf="labelsService.selectedLabels.length > 0">
        <div class="selectedLabels--item badge badge__inverted" *ngFor="let label of labelsService.selectedLabels">
          <div>{{ label.title }}</div>
          <svg class="icon-close icon" (click)="unselectLabel(label)"><use xlink:href="#icon-close"></use></svg>
        </div>
      </div>
      <input type="text" appFocusFormInput class="fullscreen-form--searchInput" [formControl]="labelSearch" placeholder="Ajouter un label">
    </div>
  </div>
  <div class="addLabel--searchResults fullscreen-for--searchResults">
    <div class="searchResults--title">
      Sélectionner ou créer un label
    </div>
    <ul class="searchList">
      <li class="searchList--element" *ngIf="labelSearch.value" (click)="addLabel()">
        <div class="badge badge__inverted badge__green">{{labelSearch.value}}</div>
        <svg class="icon-add icon"><use xlink:href="#icon-add"></use></svg>
      </li>
      <li class="searchList--element" *ngFor="let label of (sort(labelsService.labels) | filterLabels:labelSearch.value:labelsService.selectedLabels)" (click)="selectLabel(label)">
        <div class="badge badge__inverted">{{label.title}}</div>
      </li>
    </ul>
  </div>
</div>