@mixin heading-line {
  content: "";
  position: absolute;
  width: 62px;
  height: 1px;
  background: $lightGrey;
  bottom: 0;
}

@mixin mediaquery ($breakpoint) {

  @if $breakpoint == desktop {
    @media only screen and (min-width: 740px) {
      @content;
    }
  }
}