<li class="goTo" routerLink="/situations/interventions">< Retourner à la liste des signalements</li>

<div class="intervention" *ngIf="fetchedIntervention">
  <div class="info-block niveauAlerte">
    Niveau d'alerte : 
    <svg class="icon-notification -active"><use xlink:href="#icon-notification"></use></svg>
    <svg class="icon-notification"><use xlink:href="#icon-notification"></use></svg>
    <svg class="icon-notification"><use xlink:href="#icon-notification"></use></svg>
  </div>
  <div class="info-block infosPrincipales">
    <div class="infosPrincipales--icon">
      <img src="assets/natureDeFaits/accident-de-voiture.png" alt="">
    </div>
    <div>
      <div class="infosPrincipales--natureDeFait">
        {{intervention.natureDeFait}}
      </div>
      <div class="infosPrincipales--dateTemps">
        {{intervention.dateTimeSent | date:"dd/MM/yyyy à HH:mm"}}
      </div>
    </div>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
  <div class="info-block localisation">
    <div class="title-with-icon localisation--title">
      <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
      <div class="">Localisation</div>
    </div>
    <div class="localisation--details">
      <div class="localisation--adresse">
        {{intervention.address}}
      </div>
      <div class="localisation--type">
        Circulation / transport, voie rapide
      </div>
    </div>
    <button class="btn">Copier l'adresse</button>
  </div>
  <div class="info-block circonstances">
    <div class="title-with-icon circonstances--title">
      <svg class="icon icon-layers"><use xlink:href="#icon-layers"></use></svg>
      <div class="">Circonstances</div>
    </div>
    <ul>
      <li>Accident de circulation - 2 roues</li>
      <li>Plusieurs victimes</li>
    </ul>
  </div>
  <div class="info-block evenement">
    <div class="title-with-icon evenement--title">
      <svg class="icon icon-alert"><use xlink:href="#icon-alert"></use></svg>
      <div class="">Événement</div>
    </div>
    <div class="evenement--description">
      Attachez ce signalement à un événement pour activer les dossiers partagés.
    </div>
    <form action="" class="userInfoForm" [formGroup]="evenementGroup" (ngSubmit)="attachEvenementToSignalement()">
      <div class="evenement--select">
        <select class="enkiform__input" formControlName="evenement">
          <option value="" disabled selected>Sélectionner ou créer un événement</option>
          <option *ngFor="let evenement of evenementsList" value="{{evenement.uuid}}">{{evenement.title}}</option>
        </select>
      </div>
      <div class="evenement--button">
        <button type="submit" class="btn">Attacher le signalement</button>
      </div>
    </form>
  </div>
</div>
