@import '../../../../design-system/styles/variables';
@import '../../../../design-system/styles/mixins';
:host {
  @include mediaquery(desktop) {
    position: absolute;
    top: 0;
    background: $white;
    width: 100%;
    padding-top: 72px;
    transform: translate(100%, 0);
    transition: transform 200ms ease-in-out;
    padding-top: 16px;
    right: 0;
    width: 400px;
    z-index: 6000;
    height: 100%;
    overflow: scroll;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
    &.-active {
      transition: transform 200ms ease-in-out;
      transform: translate(0, 0);
    }
  }
}
.share {
  padding: 0 16px;
  &--description {
    margin-bottom: 20px;
  }
}
