@import '../../../../design-system/styles/variables';

.prototype.share--content {
  height: 526px;
  + .action {
    margin-top: -120px;
    margin-left: 304px;
  }
}
.share {
  padding: 0 16px;
  &--description {
    margin-bottom: 20px;
  }
}
