<app-small-heading *ngIf="isPanel" title="Ajouter des participants" (closeEvent)="closePanel()"></app-small-heading>
<div class="share--content">
  <div class="title-container">
    <h1 class="h2-title">Partager l'événement</h1>
  </div>
  <div class="share">
    <p class="share--description">
      Vous pouvez ajouter des particpants depuis l’annuaire ENKI.
    </p>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="participants" placeholder="Rechercher un utilisateur Enki" required>
      <!-- <button class="btn test--shareWithUser" (click)="goToSearchUser()">Ajouter des participants</button> -->
      <!-- <svg class="icon-search icon"><use xlink:href="#icon-search"></use></svg> -->
    </div>
  </div>
  <app-participants [participants]="participants" [selectedParticipant]="selectedParticipant"></app-participants>
</div>
