
<li class="goTo" routerLink="/detail-evenement/{{uuid}}">< Retour à la liste des événements</li>
<div class="evenement" *ngIf="fetchedEvenement">
  <div class="evenement--heading">
    <div class="evenement--title">
      {{evenement.title}}
    </div>
    <div class="evenement--description">
      {{evenement.description}}
    </div>
  </div>
  <div class="evenement--body">
    <div class="signalements">
      <div class="signalements--map">
        [TODO] ADD MAP
      </div>
      <div class="signalements--list">
        [TODO] ADD A LIST OF LINKED "SIGNALEMENTS"
      </div>
    </div>
    <a routerLink="/maincourante/{{evenement.uuid}}">Accéder au dossier</a>
  </div>
</div>