
@import "../../../../design-system/styles/variables";
@import "../../../../design-system/styles/mixins";

.evenement {
  &--body {
    padding: 16px;
  }
  &--header {
    display: flex;
    justify-content: space-between;
    @include mediaquery(desktop) {
      position: fixed;
      top: $headerSize;
      width: calc(100% - 250px);
      z-index: 1;
      background: $white;
    }
  }
}
.actions {
  bottom: 82px;
  @include mediaquery(desktop) {
    right: 410px;
    bottom: 24px;
  }
}
.evenement-container {
  padding-bottom: 58px;
  @include mediaquery(desktop) {
    padding-bottom: 0;
    height: 100%;
    display: grid;
    grid-template-rows: $headerSize 0;
  }
}

.map-container {
  height: 200px;
}

.map-frame {
  height: 100%;
}

#mapid {
  height: 100%;
}