
@import "../../../../../design-system/styles/variables";

.evenement {
  &--heading {
    background-color: $primary;
    color: $white;
    padding: 16px;
  }
  &--body {
    padding: 16px;
  }
  &--title {
    font-size: 24px;
  }
}
.signalements {
  margin-bottom: 20px;
  .icon {
    fill: $primary;
  }
}
.dossiers {
  display: flex;
  text-decoration: none;
  .icon {
    margin-right: 8px;
  }
}
.map-container {
  height: 200px;
}

.map-frame {
  height: 100%;
}

#mapid {
  height: 100%;
}