@import "../../../node_modules/enki-design-system/styles/variables";

.dashboard {
  background: #E5EDF5;
  padding: 16px 0;
  &--title {
    background: $white;
    padding: 16px;
  }
}
.ville-title {
  color: $primary;
  font-size: 17px;
  padding: 0 16px 8px 16px;
}
.interventions--seeMore {
  margin: 20px 0 24px;
  a {
    text-decoration: none;
    color: $primary;
  }
}