<div class="tabbar">
  <a routerLink="./summary" class="tab" routerLinkActive="-active">
    <svg class="icon-note icon"><use xlink:href="#icon-note"></use></svg>
    <span class="tab--label">Résumé</span>
  </a>
  <a routerLink="./maincourante" id="test--maincourante" class="tab" routerLinkActive="-active">
    <svg class="icon-dossier icon"><use xlink:href="#icon-dossier"></use></svg>
    <span class="tab--label">Main courante</span>
  </a>
  <a routerLink="./share" id="test--share" class="tab tab--sharetab" routerLinkActive="-active">
    <svg class="icon-add-contact icon"><use xlink:href="#icon-add-contact"></use></svg>
    <span class="tab--label">Partager</span>
  </a>
  <a routerLink="./share" class="btn -icon tabbar--sharebtn -auto">
    <svg class="icon-add-contact icon"><use xlink:href="#icon-add-contact"></use></svg>
    <span class="tab--label">Partager</span>
  </a>
</div>