<li class="goTo" routerLink="/detail-evenement/{{uuid}}">< Retourner à l'événement</li>
<div class="title-container">
  <h1 class="h1-title">Dossiers partagés</h1>
</div>
<div class="mc">

  <p *ngIf="!(messages.length > 0) ">La main courante est vide</p>
  
  <ul class="">
    <li class="list--element" *ngFor="let message of messages">
      <div class="list--wrapper">
        <div class="secondInfos">
          <div class="secondInfos--dateTime">
            {{message.created_at | date:"dd/MM/yyyy à HH:mm"}}
          </div>
          <div class="badge">
            Préfecture
          </div>
        </div>
        <div class="mainInfos">
          <div class="mainInfos--title">
            {{ message.title }} —
          </div>
          <div class="mainInfos--content">
            {{ message.description }}
          </div>
          <!-- <div class="mainInfos--icon">
            <img src="assets/natureDeFaits/accident-de-voiture.png" alt="">
          </div> -->
        </div>
        <div class="list--labels" *ngIf="message.tags.length > 0">
          <div class="badge badge__inverted" *ngFor="let tag of message.tags">{{ tag.title }}</div>
        </div>
      </div>
    </li>
  </ul>
  
  <div class="action--add" routerLink="/addmessage">
    <svg class="icon icon-add"><use xlink:href="#icon-add"></use></svg>
  </div>
</div>
