
@import "../../../../design-system/styles/variables";

.contact-detail {
  &--heading {
    padding: 33px 16px 52px;
  }
  &--addToFav {
    position: absolute;
    padding: 10px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $primary;
    background: $white;
    bottom: -21px;
    left: 0;
    height: 42px;
    font-size: 16px;
    border-radius: 0px 4px 0 0;
    font-family: $secondaryFont;
    font-weight: 600;
    letter-spacing: 1px;
    .icon {
      margin-right: 8px;
      fill: $lightGrey;
    }
    &.-userInFav .icon{
      fill: $starYellow;
    }
  }
  &--body {
    margin-top: 48px;
    padding: 0 16px;
  }
}