<div class="addMessage">
  <p class="addMessage--heading addMessage--title">Nouveau message</p>
  <a href="" class="addMessage--heading addMessage--cancel" routerLink="/maincourante">
    <svg class="icon-close icon"><use xlink:href="#icon-close"></use></svg>
    Annuler
  </a>
  <form action="" class="addMessageForm" [formGroup]="messageGroup" (ngSubmit)="onSubmit()">
    <div class="enkiSpecialform__group">
      <input type="text" class="addMessageForm--titleInput" formControlName="title" placeholder="Sans titre" required>
    </div>
    <div class="enkiSpecialform__group">
      <div class="addMessageForm--labelList">
        <div class="labelElement labelElement badge badge__inverted" *ngFor="let label of labelsService.selectedLabels">
          {{label.title}}
        </div>
      </div>
      <a href="" class="addMessageForm--labelLink" routerLink="/addlabel" *ngIf="labelsService.labels.length === 0">
        <svg class="icon-add-circle icon"><use xlink:href="#icon-add-circle"></use></svg>
        Ajouter un label
      </a>
      <a href="" class="addMessageForm--labelLink" routerLink="/addlabel" *ngIf="labelsService.labels.length > 0">
        <svg class="icon-pen icon"><use xlink:href="#icon-pen"></use></svg>
        Modifier les labels
      </a>
    </div>
    <div class="enkiSpecialform__group">
      <textarea formControlName="content" id="" cols="30" rows="10" placeholder="Appuyer ici pour ajouter une description"></textarea>
    </div>
    <div class="enkiSpecialForm__group">
      <input type="submit" class="btn" value="Publier le message">
    </div>

  </form>

</div>
