<div class="addMessage">
  <p class="addMessage--heading addMessage--title">Nouveau message</p>
  <a href="" class="addMessage--heading addMessage--cancel" routerLink="/maincourante">
    <svg class="icon-close icon"><use xlink:href="#icon-close"></use></svg>
    Annuler
  </a>
  <form action="" class="addMessage--form" [formGroup]="messageGroup" (ngSubmit)="onSubmit()">
    <div class="enkiSpecialform__group">
      <input type="text" class="enkiSpecialform__input" formControlName="title" placeholder="Sans titre" required>
    </div>
    <div class="enkiSpecialform__group">
      <input type="text" class="enkiSpecialform__input" formControlName="tag" placeholder="Ajouter un label" >
      <button type="button" (click)="submitTag()">Ajouter tag</button>
      
      <button type="button" (click)="assignTag()">Assigner le tag</button>
    </div>
    <div class="enkiSpecialform__group">
      <textarea formControlName="content" id="" cols="30" rows="10" placeholder="Appuyer ici pour ajouter une description"></textarea>
    </div>
    <div class="enkiSpecialForm__group">
      <input type="submit" class="btn" value="Publier le message">
    </div>

  </form>

</div>
