@import "../../../../../design-system/styles/variables";

.addMessage {
  padding: 0 16px;
  position: relative;
  &--heading {
    position: absolute;
    top: 0;
    font-family: $secondaryFont;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: $darkestGrey;
  }
  &--title {
    left: 16px;
  }
  &--cancel {
    position: absolute;
    display: flex;
    align-items: baseline;
    text-decoration: none;
    right: 16px;
    .icon {
      font-size: 12px;
      margin-right: 8px;
    }
  }
}
.addMessageForm {
  padding: 32px 0;
  &--titleInput {
    border: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    &::placeholder {
      color: $darkerGrey;
    }
  }
  &--labelLink {
    display: flex;
    position: relative;
    color: $darkGrey;
    text-decoration: none;
    font-family: $secondaryFont;
    font-size: 17px;
    padding: 0 0 24px;
    .icon {
      padding-right: 8px;
      fill: $darkerGrey;
    }
    &:after {
      content: "";
      position: absolute;
      width: 62px;
      height: 1px;
      background: $lightGrey;
      bottom: 0;
    }
  }
}
textarea {
  border: 0;
  color: $darkestPrimary;
  width: 100%;
  resize: none;
  padding-top: 24px;
  &::placeholder {
    color: $darkerGrey;
  }
}