<!--This SVG ELEMENT CONTAINS SVG DEFINITION-->
<app-svg-definitions></app-svg-definitions>
<app-header></app-header>
<main>
  <!-- <button (click)="loadNewAffaire()">RANDOM AFFAIRE</button> -->
  <ul>
    <li routerLink="/">Accueil</li>
    <li class="goTo" routerLink="/liste-interventions">Aller à la liste des affaires</li>
    <li class="goTo" routerLink="/detail-intervention">Aller à une affaire</li>
  </ul>

  <router-outlet></router-outlet>

  <nav class="logout">
    <a (click)="logout()" class="logout--link">Se déconnecter</a>
  </nav>
</main>
