@import "enki-design-system/styles/variables";

:focus {
  outline: 0;
}

.logout {
  padding: 32px;
  background-color: $lightestGrey;
  text-align: center;
  &--link {
    color: $lightestRed;
  }
}


