@import "enki-design-system/styles/variables";

h1 {
  margin-bottom: 0;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
}
.logout {
  padding: 32px;
  background-color: $lightestGrey;
  text-align: center;
  &--link {
    color: $lightestRed;
  }
}
.header {
  text-align: left;
  height: 56px;
  border-bottom: 1px solid $grey;
  padding: 0 16px;
  &--col {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin-right: 16px;
    }
    &.-right {
      justify-content: flex-end;
    }
  }
}

.affaire {
  list-style: none;
  margin-bottom: 30px;
}
.niveauAlerte {
  padding: 16px 16px 0 16px;
  margin-bottom: 16px;
  color: $darkestGrey;
}
.infosPrincipales {
  padding: 0 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  &--icon {
    margin-right: 16px;
    display: flex;
  }
  &--natureDeFait {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  &--dateTemps {
    font-size: 16px;
    color: $darkestGrey;
  }
}