POSTGRES_NAME=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sapeurs-dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pg-password
DATABASE_URI=postgresql://postgres:pg-password@postgres:5432/sapeurs-dev
FLASK_ENV=development
FLASK_APP=src/entrypoints/flask_app
DEBUG=True
SECRET_KEY=changeme
REPOSITORIES=IN_MEMORY