<div class="addLabel">
  <div class="addLabel--heading">
    <a href="" class="addLabel--cancel" routerLink="/addmessage">
      <svg class="icon-arrow icon"><use xlink:href="#icon-arrow"></use></svg>
    </a>

    <input type="text" class="addLabel--searchInput" [formControl]="labelSearch" placeholder="Ajouter un label">
  </div>
  <div class="addLabel--selectedLabels">
    <div class="selectedLabels--item" *ngFor="let label of labelsService.selectedLabels">
      {{ label.title }}
      <svg class="icon-close icon" (click)="unselectLabel(label)"><use xlink:href="#icon-close"></use></svg>
    </div>
  </div>
  <div class="addLabel--searchResults">
    <div class="searchResults--title">
      Sélectionner ou créer un label
    </div>
    <ul class="labelList">
      <li class="labelList--element" *ngIf="labelSearch.value" (click)="addLabel()">
        <div class="badge badge__inverted badge__green">{{labelSearch.value}}</div>
        <svg class="icon-add icon"><use xlink:href="#icon-add"></use></svg>
      </li>
      <li class="labelList--element" *ngFor="let label of (sort(labelsService.labels) | filterLabels:labelSearch.value:labelsService.selectedLabels)" (click)="selectLabel(label)">
        <div class="badge badge__inverted">{{label.title}}</div>
      </li>
    </ul>
  </div>
</div>