<app-small-heading title="Créer un événement" backLink="/situations/evenements"></app-small-heading>
<div class="title-container">
  <h1 class="h2-title">Nouvel événement</h1>
</div>
<form action="createEvenement" class="createEvenement--form" [formGroup]="evenementGroup" (ngSubmit)="onSubmit()">
  <div class="enkiform__group">
    <input type="text" class="enkiform__input" id="nomEvenement" formControlName="nomEvenement" required>
    <label for="nomEvenement" class="enkiform__label">Nom de l'événement</label>
  </div>
  <div class="enkiform__group">
    <input type="text" class="enkiform__input" id="descriptionEvenement" formControlName="descriptionEvenement" required>
    <label for="descriptionEvenement" class="enkiform__label">Description</label>
  </div>
  <div class="enkiform__group">
    <input type="date" placeholder="Format : 14/12/2021" class="enkiform__input" id="startDate" formControlName="startDate" required pattern="\d{2}-\d{2}-\d{4}">
    <label for="startDate" class="enkiform__label">Date de début</label>
  </div>
  <div class="enkiform__group">
    <input type="date" placeholder="Format : 31/12/2021" class="enkiform__input" id="endDate" formControlName="endDate" required pattern="\d{2}-\d{2}-\d{4}">
    <label for="endDate" class="enkiform__label">Date de fin</label>
  </div>
  <input type="submit" class="btn" value="Valider">
</form>
