<h1>Vérifier votre identité</h1>

<p>Utiliser France Connect pour vérifier votre identité</p>
<p>Nous avons besoin d'être sûr que c'est bien vous pour confirmer que vous êtes le maire de Val-de-Vesle</p>
<div>
  <a href="https://fcp.integ01.dev-franceconnect.fr/api/v1/authorize?scope=openid%20given_name%20family_name%20gender%20preferred_username%20birthdate&redirect_uri=http%3A%2F%2Flocalhost%3A1337%2Flogin-callback&response_type=code&client_id=211286433e39cce01db448d80181bdfd005554b19cd51b3fe7943f6b3b86ab6e&state=home&nonce=customNonce11&acr_values=eidas1">
    <img src="assets/FCboutons-10.svg" alt="">
  </a>
</div>
<!-- 211286433e39cce01db448d80181bdfd005554b19cd51b3fe7943f6b3b86ab6e

scope=openid
%20given_name
%20family_name
%20gender
%20preferred_username
%20birthdate
&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin-callback
&response_type=code
&client_id=211286433e39cce01db448d80181bdfd005554b19cd51b3fe7943f6b3b86ab6e
&state=home
&nonce=customNonce11
&acr_values=eidas1 -->