@import "../../../../../design-system/styles/variables";
@import "../../../../../design-system/styles/mixins";

.filter-messages {
  padding: 0 16px;
}
:host {
  position: absolute;
  top: 0;
  background: white;
  width: 100%;
  padding-top: 72px;
  height: 100%;
  @include mediaquery(desktop) {
    position: relative;
    padding-top: 0;
  }
}
.removeFilters {
  color: $red;
  cursor: pointer;
  text-align: center;
  font-size: rem-calc(16);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: $secondaryFont;
  text-transform: uppercase;
  margin-top: 8px;
}