.list {
  &--element {
    padding-top: 20px;
    border-bottom: 1px solid $grey;
    background: $white;
    &.-right {
      text-align: right;
      padding-left: 40px;
      .badge {
        order: 2;
      }
    }
  }
  &--wrapper {
    margin: 0 16px 20px;
    display: block;
    text-decoration: initial;
  }
  &--labels {
    padding-top: 8px;
  }
}

.mainInfos {
  display: block;
  align-items: center;
  &.-hasIcon {
    display: flex;
    justify-content: space-between;
  }
    &--title {
    display: inline;
    font-size: 17px;
    line-height: 25px;
    color: $primary;
    letter-spacing: .5px;
    font-weight: 700;
    text-transform: uppercase;
    &.-green {
      color: $lightGreen;
    }
    &.-blue {
      color: $lightPrimary;
    }
  }
  &--content {
    display: inline;
  }
  .more-info {
    color: $darkestPrimary;
    text-transform: initial;
  }

}

.secondInfos {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  &--dateTime {
    display: block;
    font-size: 17px;
    margin: 0 8px;
    font-family: $secondaryFont;
    color: $darkestGrey;
  }
  .-right & {
    justify-content: flex-end;

    .secondInfos--dateTime {
      order: 1;
    }
  }
}

