<ul class="interventions list">
  <li class="list--element" *ngFor="let intervention of interventions">
    <a class="list--wrapper" routerLink="/detail-intervention/{{intervention.uuid}}">
      <div class="secondInfos">
        <div class="secondInfos--dateTime">
          {{intervention.dateTimeSent | date:"dd/MM/yyyy à HH:mm"}}
        </div>
        <div class="badge">
          En cours
        </div>
      </div>
      <div class="mainInfos">
        <div class="mainInfos--title">
          {{intervention.natureDeFait}}
        </div>
        <div class="mainInfos--icon">
          <img src="assets/natureDeFaits/accident-de-voiture.png" alt="">
        </div>
      </div>
    </a>
  </li>
</ul>
