<div class="title-container -bottomLine">
  <h1 class="h1-title">Appels de secours</h1>
  <div class="subtitle">
    Mise à jour il y a ... minutes
  </div>
</div>
<div class="interventions">
  <ul class="list">
    <li class="list--element" *ngFor="let intervention of interventions">
      <a class="list--wrapper" routerLink="/detail-intervention/{{intervention.uuid}}">
        <div class="secondInfos">
          <div class="secondInfos--dateTime">
            {{intervention.dateTimeSent | date:"dd/MM/yyyy à HH:mm"}}
          </div>
          <div class="badge badge__inverted" *ngIf="intervention.evenement">{{intervention.evenement.title}}</div>
        </div>
        <div class="mainInfos -hasIcon">
          <div class="mainInfos--title">
            {{intervention.natureDeFait}}
          </div>
          <div class="mainInfos--icon">
            <img src="assets/natureDeFaits/Incendies.png" alt="">
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="interventions--empty" *ngIf="interventions.length === 0">
    Pas d'appels pour le moment...
  </div>
</div>
