@import "../../design-system/styles/variables";

.base {
  background: $white;
  width: 100%;
  &.prototype {
    width: 375px;
    height: 656px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.prototype .onboarding {
  position: fixed;
  z-index: 6000;
  width: 375px;
  height: 610px;
}
.onboarding {
  background: $primary;
  color: $white;
  padding: 16px;
  box-sizing: border-box;
  // overflow: scroll;
  p {
    margin-bottom: 16px;
  }
  .h2-title {
    margin-bottom: 16px;
  }
}
:focus {
  outline: 0;
}

.u-dev-info {
  background: $grey;
  padding: 10px;
}

.svg-container {
  font-size: 24px;
}

.top-header {
  padding: 0 16px 16px 16px;
}

main {
  position: relative;
  padding-top: 72px;
  box-sizing: border-box;
}
