@import "../../node_modules/enki-design-system/styles/variables";

:focus {
  outline: 0;
}

.top-header {
  padding: 0 16px;
}

.logout {
  padding: 32px;
  background-color: $lightestGrey;
  text-align: center;
  &--link {
    color: $lightestRed;
  }
}


