<!--This SVG ELEMENT CONTAINS SVG DEFINITION-->
<app-svg-definitions></app-svg-definitions>
<app-header></app-header>

<main>
  <!-- <button (click)="loadNewAffaire()">RANDOM AFFAIRE</button> -->
  <div class="top-header">
    <div *ngIf="!environment.production" class="u-dev-info">Logs [url api] : {{environment.interventionsUrl}}</div>

    <!-- <p *ngIf="!canSeeEvents()">
      Désolé, vous ne pouvez pas accéder à ces informations...
    </p> -->
  </div>
<!--   <div class="svg-container">
    <svg class="icon-phone"><use xlink:href="#icon-phone"></use></svg>
  </div> -->

  <router-outlet></router-outlet>

  <nav class="logout">
    <a (click)="logout()" class="logout--link">Se déconnecter</a>
  </nav>
</main>
