<h1>Finaliser l'inscription</h1>
<p>Renseigner les informations suivantes</p>
<form action="">
  <div class="form-group">
    <input type="text" [formControl]="lastName">
    <label for="">Nom</label>
  </div>
  <div class="form-group">
    <input type="text" [formControl]="firstName">
    <label for="">Prénom</label>
  </div>
  <div class="form-group">
    <select [formControl]="role">
      <option value="maire">Maire</option>
    </select>
    <label for="">Fonction</label>
  </div>
  <div class="form-group">
    <input type="text" [formControl]="codeCommune">
    <label for="">Commune</label>
  </div>
  <div class="form-group">
    <input type="submit" value="Valider l'inscription">
  </div>
</form>
