<div class="title-container">
  <h1 class="login-title">Finaliser l'inscription</h1>
  <h2 class="login-subtitle">Renseigner les informations suivantes</h2>
</div>
<form action="" class="userInfoForm" [formGroup]="userGroup" (ngSubmit)="onSubmit()">
  <div class="enkiform__group">
    <input type="text" class="enkiform__input" id="lastName" formControlName="lastName" required>
    <label for="lastName" class="enkiform__label">Nom</label>
  </div>
  <div class="enkiform__group">
    <input type="text" class="enkiform__input" id="firstName" formControlName="firstName" required>
    <label for="firstName" class="enkiform__label">Prénom</label>
  </div>
<!--   <div class="enkiform__group">
    <select class="enkiform__input" id="group" formControlName="group" required>
      <option value="maire">Mairie</option>
      <option value="prefecture">Préfecture</option>
    </select>
    <label for="group" class="enkiform__label">Groupe</label>
    <svg class="icon-chevron icon"><use xlink:href="#icon-chevron"></use></svg>
  </div> -->
  <div class="enkiform__group">
    <select class="enkiform__input" id="fonction" formControlName="fonction" required>
      <option value="maire">Maire</option>
      <option value="prefet">Préfet</option>
    </select>
    <label for="fonction" class="enkiform__label">Fonction</label>
    <svg class="icon-chevron icon"><use xlink:href="#icon-chevron"></use></svg>
  </div>
  <div class="enkiform__group">
    <input type="text" class="enkiform__input" id="codeCommune" formControlName="codeCommune" required>
    <label for="codeCommune" class="enkiform__label">Commune / Département</label>
    <svg class="icon-search icon"><use xlink:href="#icon-search"></use></svg>
  </div>
  <div class="searchCommune">
    <svg class="icon-arrow icon"><use xlink:href="#icon-arrow"></use></svg>
    <input type="text" class="searchCommune__input" placeholder="Département, commune ou code postal">
    <div class="seachCommune__suggestions">
      Résultats de votre recherche
    </div>
    <div class="searchCommune__overlay">

    </div>
  </div>
  <div class="enkiform__group">
    <input type="submit" class="btn" value="Valider l'inscription" [disabled]="!userGroup.valid">
  </div>
</form>
<!-- <p>
  Form values: {{userGroup.value | json}}
</p>
<p>
  Form Status: {{ userGroup.status }}
</p> -->
