@import "../../../../design-system/styles/variables";

.dashboard {
  padding: 16px 0;
  &--widget {
    padding: 24px 16px;
  }
}
.interventions {
  background: #E5EDF5;
}
.meteo {
  background: $white;
}
img {
  max-width: 100%;
}
.vigicrue {
  background: $white;
}
.annuaire {
  background: $primary;
  color: $white;
}
.stats {
  background: $white;
}
.reseaux-sociaux {
  background: #E5EDF5;
  .icon {
    fill: $primary;
  }
}
.news {
  background: $white;
}

.sub-title {
  color: $primary;
  font-size: 17px;
  padding: 0 16px 8px 0;
}
.interventions--seeMore {
  margin: 20px 0 0;
  font-size: 17px;
  line-height: 24px;
  a {
    text-decoration: none;
    color: $primary;
    display: flex;
  }
}