<div class="dashboard">
  <!-- <p>Bonjour {{user.fullname}}</p> -->
  <div class="title-container">
    <h1 class="h1-title">Tableau de bord</h1>
    {{user.location}}
  </div>
  <!-- <div class="evenement dashboard--widget">
    <h2 class="evenement--title title-with-icon">
      <svg class="icon-sun icon"><use xlink:href="#icon-sun"></use></svg>
      Événements
    </h2>
    <button routerLink="/maincourante" class="btn">Voir l'événement en cours</button>
  </div> -->
  <div class="meteo dashboard--widget">
    <h2 class="meteo--title title-with-icon">
      <svg class="icon-sun icon"><use xlink:href="#icon-sun"></use></svg>
      Météo
    </h2>
    <div class="meteo--image">
      <img src="assets/meteo-chelles.png" alt="">
    </div>
  </div>
  <ul class="interventions dashboard--widget">
    <!-- <div class="sub-title">
      Chelles
    </div> -->
    <h2 class="interventions--title title-with-icon">
      <svg class="icon-post-it icon"><use xlink:href="#icon-post-it"></use></svg>
      Derniers appels de secours
    </h2>
    <li class="intervention list--element" *ngFor="let intervention of interventions | slice:0:3">
      <a class="intervention--wrapper list--wrapper" routerLink="/detail-intervention/{{intervention.uuid}}">
        <div class="secondInfos">
          <div class="secondInfos--dateTime">
            {{intervention.dateTimeSent | date:"dd/MM/yyyy à HH:mm"}}
          </div>
          <div class="badge">
            En cours
          </div>
        </div>
        <div class="mainInfos -hasIcon">
          <div class="mainInfos--title">
            {{intervention.natureDeFait}}
          </div>
          <div class="mainInfos--icon">
            <img src="assets/natureDeFaits/Incendies.png" alt="">
          </div>
        </div>
      </a>
    </li>
    <div class="interventions--seeMore" *ngIf="interventions.length > 0">
      <a routerLink="/situations/interventions">
        <svg class="icon-add title-icon"><use xlink:href="#icon-add"></use></svg>
        <span>Voir plus d'appels de secours</span>
      </a>
    </div>
    <div class="interventions--noInterventions" *ngIf="interventions.length === 0">
      Pas d'appels de secours en cours
    </div>
  </ul>
  <div class="vigicrue dashboard--widget">
    <h2 class="title-with-icon">
      <svg class="icon-water icon"><use xlink:href="#icon-water"></use></svg>
      Vigicrue
    </h2>
    <div class="vigicrue--image">
      <img src="assets/vigicrue.png" alt="">
    </div>
  </div>
  <div class="annuaire dashboard--widget">
    <h2 class="title-with-icon">
      <svg class="icon-contacts icon"><use xlink:href="#icon-contacts"></use></svg>
      Contacts
    </h2>
  </div>
  <div class="stats dashboard--widget">
<!--     <div class="sub-title">
      Chelles
    </div>
    <h2 class="title-with-icon">
      <svg class="icon-stats icon"><use xlink:href="#icon-stats"></use></svg>
      En chiffres
    </h2> -->
    <div class="stats--image">
      <img src="assets/chiffres.png" alt="">
    </div>
  </div>
  <div class="reseaux-sociaux dashboard--widget">
    <div class="sub-title">
      @mairieivry
    </div>
    <h2 class="title-with-icon">
      <svg class="icon-twitter icon"><use xlink:href="#icon-twitter"></use></svg>
      Twitter
    </h2>
    <div class="reseaux-sociaux--image">
      <img src="assets/twitter.png" alt="">
    </div>
  </div>
  <div class="stats dashboard--widget">
    <div class="sub-title">
      Val de Marne
    </div>
    <h2 class="title-with-icon">
      <svg class="icon-news icon"><use xlink:href="#icon-news"></use></svg>
      Actualités
    </h2>
    <div class="stats--image">
      <img src="assets/actus.png" alt="">
    </div>
  </div>
</div>
