@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal
}
