<div class="title-container -bottomLine">
  <h1 class="h2-title">Invitation</h1>
  <div class="subtitle">
    Remplissez le formulaire, pour inviter une personne ou un établissement à rejoindre ENKI.
  </div>
</div>
<div class="invitation">
  <div class="title-form">
    <h2 class="h3-title">Informations professionnelles</h2>
    <p class="subtitle">(Champs obligatoires)</p>
  </div>
  <form action="" class="invitationForm" [formGroup]="invitationGroup" (ngSubmit)="onSubmit()">
    <div class="enkiform__group">
      <select class="enkiform__input" id="group" formControlName="group" required>
        <option *ngFor="let groupType of groupTypes" value="{{groupType}}">{{groupType | titlecase}}</option>
      </select>
      <label for="group" class="enkiform__label">Type d'établissement</label>
      <svg class="icon-chevron icon"><use xlink:href="#icon-chevron"></use></svg>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="etablissement" formControlName="etablissement" required (focus)="goToSearchEtablissement()" [attr.disabled]="invitationGroup.value.group == '' ? true : null">
      <label for="etablissement" class="enkiform__label">Établissement</label>
      <svg class="icon-search icon"><use xlink:href="#icon-search"></use></svg>
    </div>

    <div class="title-form">
      <h2 class="h3-title">Coordonnées</h2>
      <p class="subtitle">(Champs obligatoires)</p>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="phone" formControlName="phone" required>
      <label for="phone" class="enkiform__label">Téléphone</label>
    </div>
    <div class="enkiform__group">
      <input type="text" class="enkiform__input" id="email" formControlName="email" required>
      <label for="email" class="enkiform__label">Email</label>
    </div>
    <div class="enkiform__group">
      <input type="submit" id="submit-invitation" class="btn" value="Envoyer l'invitation" [disabled]="!invitationGroup.valid">
    </div>
  </form>
</div>
<router-outlet></router-outlet>
