.enkiform  {
    $namespace: &;

    &__group {
        width: 100%;
        position: relative;
        text-align: left;
    }
    &__checkbox,
    &__radio {
            display: block;
            position: absolute;
            clip: rect(0, 0, 0, 0);
            visibility: visible;

        & + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid $black;
                background: none;
            }

            &:after {
                content: "";
                position: absolute;
                top: 3px;
                left: 7px;
                width: 6px;
                height: 10px;
                border: solid $black;
                border-width: 0 2px 2px 0;
                transition: all .2s ease-in-out;
            }
        }

        &:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        &:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__checkbox:checked + label:after {
        transform: scale(1) rotate(45deg);
    }

    &__radio {
        & + label {

            &:before {
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }

            &:after {
                width: 6px;
                height: 6px;
                background: $black;
                top: 7px;
                left: 7px;
                transition: all 0.2s ease;
                border-radius: 100%;
            }
        }

    }

    &__label {
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        top: 0;
        background: white;
        color: $darkGrey;
        font-size: 16px;
        top: 20px;
        left: 14px;
        cursor: text;
        padding: 0 4px;
        transition: ease .2s all;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $grey;
        height: 56px;
        padding: 0 0 0 16px;
        margin-bottom: 32px;
        &:focus + label {
            top: -7px;
            font-size: 12px;
            color: $primary;
            transition: ease .2s all;
        }
        &:valid + label {
            top: -7px;
            font-size: 12px;
        }
        &:focus {
            outline: 0;
            padding: 0 0 0 15px;
            border: 2px solid $primary;
        }
        &::placeholder {
            color: #999;
        }
    }

    &__submit {
        width: 100%;
        height: 42px;
        margin-bottom: 16px;
        border: none;
        border-radius: 4px;
        background-color: #034EA2;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        &:disabled {
            opacity: .5;
        }
    }

    &__valid {
        color: $green;
        font-size: rem-calc(13);
    }

    &__error {
        color: $red;
        font-size: rem-calc(13);
    }

}

