<a class="goTo" (click)=goBack()>
  <svg class="icon-arrow icon"><use xlink:href="#icon-arrow"></use></svg>
  Retour à la main courante
</a>
<div class="detail-message">
  <div class="detail-message--header title-container">
    <h1 class="h2-title">
      {{ message.title }}
    </h1>
    <div class="subtitle">
      Publié le {{message.created_at | date:"dd/MM/yyyy à HH:mm"}}
    </div>
    <div class="detail-message--labels labels">
      <!-- <div class="userrole badge" [ngClass]="(message.creator.position.group.type === 'PREFECTURE') ? 'badge__blueFill' :'badge__greenFill'">Mairie</div> -->
      <div class="badge badge__inverted" *ngFor="let tag of message.tags">{{ tag.title }}</div>
    </div>
  </div>
  <div class="detail-message--body">
    <div class="detail-message--description">
      {{message.description}}
    </div>
    <div class="detail-message--resources">
      <div class="detail-message--item" *ngFor="let item of message.resources">
        <img [src]="item.url" alt="">
      </div>
    </div>
  </div>
  
</div>