@import "../../../../../design-system/styles/variables";
@import "../../../../../design-system/styles/mixins";

:host {
  position: absolute;
  top: 0;
  background: $white;
  width: 100%;
  padding-top: 72px;
  height: 100%;
  z-index: 1;
  @include mediaquery(desktop) {
    right: 0;
    width: 400px;
    border-left: 1px solid $blueGrey;
    padding-top: 0;
    overflow: scroll;
  }
}
.detail-message {
  &--header {
    margin: 0 0 24px 0;
    &:after {
      @include heading-line;
    }
  }
  &--labels {
    margin: 16px 0 0;
    .badge {
      margin: 0 8px 4px 0;
    }
  }
  &--body {
    padding: 16px;
  }
  &--description {
    margin-bottom: 16px;
  }
  &--resources {
    img {
      max-width: 100%;
    }
  }
}