<div class="title-container">
  <h1 class="h1-title">Événements</h1>
  <div class="subtitle">
    Mise à jour il y a ... minutes
  </div>
</div>
<div class="head-tab">
  <div class="head-tab--element" routerLinkActive="-active">
    En cours
  </div>
  <div class="head-tab--element" routerLinkActive="-active">
    À venir
  </div>
  <div class="head-tab--element" routerLinkActive="-active">
    Terminé
  </div>
</div>
<div class="evenements list" [class]="mobilePrototype.getCheckedClass()">
  <div class="evenement--element list--element" *ngFor="let evenement of evenements">
    <a [routerLink]="['/evenements/', evenement.uuid]" class="list--wrapper">
      <div class="secondInfos">
        <div class="secondInfos--dateTime">
          {{evenement.created_at | date:"dd/MM/yyyy à HH:mm"}}
        </div>
        <div class="badge" *ngIf="evenement.closed === null">
          En cours
        </div>
      </div>
      <div class="mainInfos">
        <div class="mainInfos--title">
          {{evenement.title}} —
        </div>
        <div class="mainInfos--content">
          {{ evenement.description }}
        </div>
      </div>
    </a>
  </div>
</div>
<div class="action action--add" routerLink="/evenements/create">
  <svg class="icon icon-add"><use xlink:href="#icon-add"></use></svg>
</div>