@import "../../../../design-system/styles/variables";

.enki-logo {
  margin-bottom: 0;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 0 8px;
}
.header {
  position: sticky;
  top: 0;
  background: $white;
  z-index: 5000;
  text-align: left;
  height: 56px;
  border-bottom: 1px solid $grey;
  padding: 0 16px 0 8px;
  display: flex;
  justify-content: space-between;
  &--col {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin-right: 16px;
    }
    &.-right {
      justify-content: flex-end;
    }
  }
  &--link {
    cursor: pointer;
  }
  .notification {
    display: flex;
    justify-content: center;
    svg {
      fill: $darkerPrimary;
    }
  }
}
/* :host {
  overflow: hidden;
  width: 100%;
} */
.menu-container {
  position: relative;
}
.menu {
  position: fixed;
  top: 56px;
  left: 0;
  background: $white;
  transform: translate(0, 0);
  width: calc(100% - 50px);
  height: 100%;
  transition: .3s ease all;
  z-index: 8000;
  box-sizing: border-box;
  
  &.prototype {
    top: auto;
    width: 325px;
    height: 600px;
    position: absolute;
    box-sizing: border-box;
    transform: none;
    &.-active {
      left: -325px;
      transform: none;
    }
  }
  &--entries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $secondaryFont;
    height: 100%;
  }
  &.-active {
    transform: translate(-100%, 0);
    transition: .3s ease all;
  }
  &--item {
    text-transform: uppercase;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 16px;
    border-bottom: 1px solid $lightGrey;
    color: $darkerPrimary;
    &.-active {
      background: $primary;
      a {
        color: $white;
      }
      svg {
        fill: $white;
      }
    }
    a {
      font-size: 17px;
      color: $primary;
      text-decoration: none;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
    svg {
      fill: $darkerGrey;
      transform: rotate(-90deg);
    }
  }
}

.overlay.-active {
  z-index: 7000;
  width: 100%;
  height: 100%;
  position: fixed;
  background: $darkestGrey;
  opacity: .5;
}
.prototype.overlay.-active {
  width: 375px;
  height: 600px;
  position: absolute;
}

