@import "../../../../design-system/styles/variables";
@import "../../../../design-system/styles/mixins";

.enki-logo {
  margin-bottom: 0;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 0 8px;
  cursor: pointer;
}
.header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background: $white;
  z-index: 8000;
  text-align: left;
  height: $headerSize;
  border-bottom: 1px solid $grey;
  padding: 0 16px 0 8px;
  display: flex;
  justify-content: space-between;
  @include mediaquery(desktop) {
    position: static;
  }
  &--col {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin-right: 16px;
    }
    &.-right {
      justify-content: flex-end;
    }
  }
  &--link {
    cursor: pointer;
    @include mediaquery(desktop) {
      display: none;
    }
  }
  .notification {
    display: flex;
    justify-content: center;
    svg {
      fill: $darkerPrimary;
    }
  }
}
