<header class="header">
  <div class="header--col header--link" routerLink="/">
    <div class="logo-marianne">
      <img src="../assets/Marianne.jpg" />
    </div>
    <div class="enki-logo">ENKI</div>
  </div>
  <div class="header--col -right">
    <div class="burger" (click)="openCloseMenu()">
      <svg class="icon-burger-menu"><use xlink:href="#icon-burger-menu"></use></svg>
    </div>
  </div>
</header>
<div class="menu-container">
  <div class="right-menu" [class.-active]="!menuActive">
    <nav>
      <li class="right-menu--item"><a routerLink="/" (click)="openCloseMenu()">Dashboard</a></li>
      <li class="right-menu--item"><a routerLink="/situations/interventions" (click)="openCloseMenu()">Situations</a></li>
      <li class="right-menu--item"><a (click)="logout()">Se déconnecter</a></li>
    </nav>
  </div>
</div>
<div class="overlay" [class.-active]="menuActive"></div>